# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# production
/build
/dist

# Optional npm cache directory
.npm

# Optional eslint cache
.cache
.eslintcache

# Yarn Integrity file
.yarn-integrity