.products {
	max-height: 182px;
	&--about {
		max-height: 100%;
	}
}

.products.visible {
	padding-bottom: 100px;
	max-height: 100%;
}
// css
.product-wrapper {
	margin-top: 50px;
	display: flex;
	@media only screen and (max-width: 800px) {
		flex-direction: column;
	}
	.product-descriptinon {
		width: 50%;
		margin-left: auto;
		@media only screen and (max-width: 1000px) {
			width: 55%;
		}
		@media only screen and (max-width: 800px) {
			margin-top: 50px;
			width: 100%;
		}
	}
	.shops {
		display: flex;
		margin-top: 27px;
		@media only screen and (max-width: 700px) {
			flex-direction: column;
		}
	}
	.shops input,
	.shops button {
		width: 48%;
		border-radius: 4px;
		@media only screen and (max-width: 700px) {
			width: 100%;
		}
	}

	.shops input {
		margin-right: 2%;
		border: 1px solid #e0e0e0;
		outline: none;
		background-color: #f9f9f9;
		color: #7b929f;
		@media only screen and (max-width: 700px) {
			margin-right: 0;
			height: 47px;
		}
	}
	.shops button {
		margin-left: 2%;
		padding: 15px 27px;
		font-size: 14px;
		font-weight: 600;
		@media only screen and (max-width: 700px) {
			height: 47px;
			margin-left: 0;
			margin-top: 10px;
		}
	}
	.product-description--top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #023047;
		font-size: 12px;
		.hot {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 15px;
			margin-left: 5px;
			padding: 8px 18px;
			border-radius: 20px;
			background-color: #fb8500;
			color: #219ebc;
			@media only screen and (max-width: 700px) {
				height: 20px;
				color: #fff;
				font-size: 10px;
				padding: 8px 10px;
			}
		}
		.links {
			display: flex;
			@media only screen and (max-width: 700px) {
				display: none;
			}
		}
		.links a {
			color: #023047;
			text-decoration: underline;
		}
		.links a:not(:nth-child(1)) {
			margin-left: 50px;
		}
		.reviews {
			color: #023047;
			@media only screen and (max-width: 700px) {
				color: hwb(200 1% 72%/0.499);
			}
		}
	}
	h2 {
		margin: 20px 0px;
		color: #023047;
		font-size: 3.2rem;
		line-height: 40px;
		font-weight: 500;
	}
	.tags {
		display: flex;
		flex-wrap: wrap;
		.tag {
			white-space: nowrap;
			display: flex;
			margin-right: 15px;
			margin-bottom: 20px;
			padding: 4px 18px;
			border-radius: 20px;
			background-color: #f6f6f8;
			color: #219ebc;
			font-size: 12px;
			border: 1px solid #e4e9eb;
			@media only screen and (max-width: 700px) {
				margin-right: 10px;
			}
		}
	}
	p {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #4d6e7e;
	}
	.price {
		color: #219ebc;
		font-size: 40px;
		margin-top: 50px;
		line-height: 32px;
		font-weight: 500;
	}
	.availability,
	.transport {
		width: 100%;
		background-color: #f9f9f9;
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		padding: 20px;
		border-radius: 8px;
		color: #7b929f;
		.left {
			display: flex;
			align-items: center;
		}
		.left img {
			margin-right: 8px;
		}
		.rigth {
			display: flex;
			align-items: center;
			img {
				margin-left: 15px;
			}
		}
	}
	.transport {
		margin-top: 25px;
		margin-bottom: 4px;
	}
	.transport .dark {
		color: #023047;
		font-weight: 600;
	}
	.availability .green {
		font-weight: 600;
		color: #00d692;
	}
}
.product-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 42%;
	@media only screen and (max-width: 800px) {
		width: 100%;
	}
}
.img-container {
	width: 100%;
	height: 100%;
	border: 2px solid #e4e9eb;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bigImage {
	max-width: 100%;
	height: 80%;
	min-height: 350px;
	@media only screen and (max-width: 800px) {
		width: 100%;
		padding: 20px 0px;
		max-height: 400px;
	}
}
.bigImage svg,
.bigImage img {
	max-width: 100%;
	max-height: 100%;
	width: 230px;
	height: 400px;
	object-fit: cover;
}
.product-small-img-container {
	min-width: 31%;
	@media only screen and (max-width: 800px) {
		width: 100%;
		min-width: 150px;
	}
}
.product-small-img {
	margin-top: 15px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	width: 100%;
	@media only screen and (max-width: 800px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-wrap: nowrap;
		overflow-x: scroll;
	}
	img {
		border: 2px solid #e4e9eb;
		width: 100%;
		height: 120px;
		border-radius: 12px;
	}
}

.listed-items {
	margin-top: 6rem;
	&__tabs {
		background: #f6f6f8;
		border-radius: 6px;
		max-width: 600px;
		height: 56px;
		padding: 3px;
		margin: auto;
		width: 100%;
		display: grid;
		text-align: center;
		color: black;
		grid-template-columns: repeat(4, 1fr);
		@media only screen and (max-width: 600px) {
			height: 46px;
		}
	}
	.tab {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0px;
		@media only screen and (max-width: 600px) {
			font-size: 12px;
		}
		@media only screen and (max-width: 370px) {
			font-size: 10px;
		}
	}
	.tab-white {
		background-color: #fff;
	}
	&__sort {
		margin-top: 50px;
		display: grid;
	}
	&__sort .left {
		span {
			color: #4d6e7e;
			font-size: 12px;
			line-height: 15px;
			font-weight: 700;
		}
		.filter {
			color: #00d692;
			font-size: 12px;
			line-height: 15px;
		}
	}
	&__sort .right {
		display: flex;
		justify-content: flex-end;
	}
	&__products {
		display: flex;
		flex-direction: column;
	}
	&__products--product {
		display: flex;
		align-items: center;
		border: 1px solid #e4e9eb;
		border-radius: 12px;
		padding: 25px;
		margin-bottom: 17px;
		@media only screen and (max-width: 800px) {
			align-items: flex-start;
		}
		@media only screen and (max-width: 500px) {
			padding: 16px;
		}
	}
	&__products--product .logo {
		width: 15%;
		height: 100%;
		background: #f6f6f8;
		border-radius: 16px;
		margin-right: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 64px;
		min-height: 64px;
		@media only screen and (max-width: 800px) {
			height: auto;
		}
		@media only screen and (max-width: 800px) {
			margin-right: 10px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__products--product .description {
		width: 70%;
	}

	&__products--product .description__top .page {
		display: flex;
		align-items: center;
	}
	&__products--product .description__top .page a {
		display: flex;
		padding: 4px 18px;
		border-radius: 20px;
		margin-right: 25px;
		background-color: #f6f6f8;
		color: #219ebc;
		@media only screen and (max-width: 500px) {
			font-size: 10px;
		}
	}
	&__products--product .description__top .page .transport-price {
		margin-right: 25px;
		display: flex;
		align-items: center;
		img {
			margin-right: 6px;
		}
		@media only screen and (max-width: 700px) {
			display: none;
		}
	}
	&__products--product .description__top .page .stored {
		margin-right: 25px;
		display: flex;
		align-items: center;
		color: #00d692;
		img {
			margin-right: 6px;
		}
		@media only screen and (max-width: 700px) {
			display: none;
		}
	}
	&__products--product .description__title {
		margin-top: 15px;
		color: #023047;
		font-size: 2rem;
		font-weight: 500;
		@media only screen and (max-width: 500px) {
			font-size: 16px;
		}
	}
	&__products--product .description__price {
		color: #219ebc;
		font-size: 2rem;
		margin-top: 40px;
		line-height: 26px;
		font-weight: 500;
		@media only screen and (max-width: 700px) {
			margin: 14px 0px;
		}
		@media only screen and (max-width: 500px) {
			font-size: 18px;
		}
	}

	&__products--product .reviews {
		height: 100%;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: right;
		a {
			color: hsla(200, 95%, 14%, 0.499);
			text-decoration: underline;
			font-size: 12px;
		}
		button {
			white-space: nowrap;
			@media only screen and (max-width: 700px) {
				display: none;
			}
		}
	}
	&__description {
		display: flex;
		margin: 5rem 0rem;
		@media only screen and (max-width: 800px) {
			flex-direction: column;
		}
	}
	&__description .parameters {
		width: 30%;
		@media only screen and (max-width: 800px) {
			width: 100%;
		}
	}
	&__description .product-description {
		width: 70%;
		@media only screen and (max-width: 800px) {
			width: 100%;
		}
		h3 {
			color: #023047;
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 15px;
			@media only screen and (max-width: 500px) {
				font-size: 16px;
			}
		}
		p {
			color: #023047aa;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 28px;
		}
		ul {
			padding: 40px 10px;
		}
		li {
			list-style: inside;
			color: #023047;
			font-size: 1.4rem;
			font-weight: 500;
			margin-left: 5px;
			margin-bottom: 25px;
			text-align: left;
		}
		li:last-child {
			margin-bottom: 0px;
		}
	}
}

.description__mobile-btn {
	display: none;
	@media only screen and (max-width: 700px) {
		display: block;
	}
	@media only screen and (max-width: 500px) {
		font-size: 14px;
		white-space: nowrap;
	}
}
// DETAIL ABOUT //
/* ✌️ design ✌️ */

.categories {
	margin-right: 50px;
	max-width: 300px;
	@media only screen and (max-width: 1100px) {
		margin-right: 20px;
	}
	@media only screen and (max-width: 800px) {
		max-width: 100%;
		margin-right: 0px;
	}
	.arrow {
		display: none;
		@media only screen and (max-width: 800px) {
			display: block;
		}
	}
	h3 {
		color: #023047;
		font-size: 20px;
		font-weight: 500;
		line-height: 26px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e4e9eb;
		@media only screen and (max-width: 800px) {
			border: none;
			padding-bottom: 0px;
			font-size: 14px;
		}
	}
}
.categories--wrapper {
	@media only screen and (max-width: 800px) {
		padding: 20px 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #f6f6f8;
		margin-bottom: 25px;
	}
}
.categories a {
	display: block;
	flex-grow: 1;
}
.categories {
	.product__menu {
		padding: 20px 10px;
		border-bottom: 1px solid #e4e9eb;
		@media only screen and (max-width: 800px) {
			display: none;
			margin-bottom: 25px;
		}
	}
	.product__menu li {
		text-align: left;
	}
	.product__menu:first-of-type {
		border-top: 1px solid #e4e9eb;
	}
	.product-heading {
		display: flex;
		justify-content: space-between;
	}
	.product-heading h4 {
		color: #023047;
		font-size: 14px;
	}
	.product-links {
		display: none;
	}
	.product-links li a {
		font-size: 14px;
		color: #023047;
		margin-bottom: 15px;
	}
}

.product-links.visible {
	margin-top: 20px;
	display: block;
}
.category {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;

	span {
		color: #023047;
		font-size: 1.4rem;
		font-weight: bold;
	}
}
