.pros-cons,
.pros-cons-mobile {
	margin-top: 25px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	text-align: left;
	.pros,
	.cons {
		display: grid;
		grid-template-rows: auto;
		grid-gap: 15px;
		color: #023047;
		font-size: 1.6rem;
		line-height: 16px;
	}
	.pros {
	}
	.pros__item {
	}
	.cons {
	}
	.cons__item {
	}
}
.pros-cons {
	@media only screen and (max-width: 800px) {
		display: none;
	}
}
.pros-cons-mobile {
	display: none;
	.cons {
		margin-top: 15px;
	}
	@media only screen and (max-width: 800px) {
		display: flex;
		flex-direction: column;
	}
}
