.reviews-wrapper {
	margin-top: 50px;
	display: flex;
	@media only screen and (max-width: 1100px) {
		flex-direction: column;
	}
	&__help {
		width: 20%;
		height: 100%;
		margin-right: auto;
		background: #f6f6f8;
		padding: 20px;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media only screen and (max-width: 1100px) {
			width: 100%;
			margin-bottom: 20px;
		}

		h2 {
			text-align: center;
			color: #023047;
			font-size: 2.4rem;
			font-weight: 500;
			margin-bottom: 17px;
		}
	}
	&__preview {
		width: 75.5%;
		background: #ffffff;
		@media only screen and (max-width: 1100px) {
			width: 100%;
		}
	}
	.profile-mobile {
		display: none;
		@media only screen and (max-width: 800px) {
			display: flex;
			align-items: center;
		}
	}
	.review-right-side {
		display: flex;
		align-items: center;
	}
	.review-heading {
		@media only screen and (max-width: 800px) {
			display: none;
		}
	}
	.review-information {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.review__title h3 {
		font-size: 2rem;
		font-weight: 500;
		color: #023047;
	}
	.review {
		display: flex;
		flex-direction: column;
		border: 1px solid #e4e9eb;
		border-radius: 12px;
		padding: 25px;
		margin-bottom: 20px;
		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 15%;
			height: 122px;
			width: 122px;
			background: #f6f6f8;
			border-radius: 16px;
			margin-right: 30px;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		.review-wrapper {
			width: 85%;
		}
	}
	.review p {
		margin-top: 20px;
		color: hsla(200, 95%, 14%, 0.701);
		line-height: 24px;
		font-size: 1.4rem;
		font-weight: 400;
	}
	.review a {
		display: block;
		margin-top: 25px;
		color: #00d692;
		font-size: 1.4rem;
		text-decoration: underline;
	}
	.review__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media only screen and (max-width: 800px) {
			width: 100%;
		}
	}
	.review__info .profile,
	.review__info .date,
	.review__info .answer {
		font-size: 1.2rem;
		text-align: center;
	}
	.review__info .answer {
		background: #f6f6f8;
		border-radius: 12px;
		padding: 6px 12px;
		color: #219ebc;
		font-weight: 700;
		margin-right: 22px;
		&--space {
			margin-right: 125px;
		}
	}
	.review__info .profile,
	.review__info .date {
		color: hsla(200, 95%, 14%, 0.5);
		font-size: 1.2rem;
		line-height: 16px;
		font-weight: 500;
	}
	.review__info .profile {
		display: flex;
		align-items: center;
		margin-right: 22px;
		@media only screen and (max-width: 800px) {
			display: none;
		}
	}
	.review__info .date {
	}
}
